* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: gainsboro;
}

main li {
  font-size: 2rem;
  margin-bottom: 10px;
}
.container {
  max-width: 1120px;
  width: 80%;
  margin: 50px auto;
}
