* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: gainsboro;
}
body {
  background-color: rgba(255, 228, 196, 0.502);
}

h2 {
  font-size: 2.5rem;
  border-bottom: 1px solid black;
}
main li {
  font-size: 1.8rem;
  margin-bottom: 10px;
  list-style: none;
  text-align: center;
  padding: 10px;
  background-color: gainsboro;
  border-radius: 10px;
}
.container {
  max-width: 1120px;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.35);
}

form {
  margin: 20px 0;
}
input {
  width: 80%;
  height: 50px;
  font-size: 2rem;
}

button {
  margin-left: 20px;
  width: 15%;
  height: 50px;
  font-size: 2rem;
  background-color: orange;
  border: none;
}
